<div *ngIf="(view$ | async) as view">
  <input class="checkbox"
         type="checkbox" [checked]="view.checked"
         (click)="click()" />
  <label>Toggle me</label>
  <p>{{view.status}}</p>
</div>

