<h2>Implement Cycle.js in Angular</h2>
<nav>
  <div class="container">
    <ul routerLinkActive="active">
      <li><a class="nav-link" routerLink="hello">Hello</a></li>
      <li><a class="nav-link" routerLink="toggle">Toggle</a></li>
      <li><a class="nav-link" routerLink="counter">Counter</a></li>
      <li><a class="nav-link" routerLink="bmi">BMI</a></li>
      <li><a class="nav-link" routerLink="cat-facts">Cat Facts</a></li>
    </ul>
  </div>
</nav>
