<div *ngIf="(view$ | async) as view">
  <div>
    <label>Weight {{view.weight}} kg</label>
    <input class="weight"
           type="range" min="40" max="140"
           value="view.weight"
           (input)="weightInput($event.target.value)" />
  </div>
  <div>
    <label>Height {{view.height}} cm</label>
    <input class="height"
           type="range" min="140" max="210"
           value="view.height"
           (input)="heightInput($event.target.value)" />
  </div>
  <h2>BMI is {{view.bmi}}</h2>
</div>
