<div *ngIf="(view$ | async) as view">
  <button (click)="getCatFacts()">Get cat facts</button>
  <div *ngIf="view.error as error">{{error.message}}</div>
  <div *ngFor="let fact of view.facts">
    <h3>Fact {{fact.id}} about {{fact.type}}</h3>
    <p>{{fact.text}}</p>
  </div>
</div>
